{% extends 'app/base.html' %}
{% load static %}
{% block title %}Товары и услуги{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather-font/css/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/prismjs/themes/prism.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/dropify/dist/dropify.min.css' %}">
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/demo2/style.css' %}">
    <!-- End layout styles -->

{% endblock %}


{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Товары и услуги</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary btn-icon-text" data-bs-toggle="modal"
                            data-bs-target=".bd-example-modal-lg">Добавить продукт
                        <i class="btn-icon-append" data-feather="upload"></i>
                    </button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h4" id="myLargeModalLabel">Новый продукт</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="btn-close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="cmxform" method="POST" id="submit" action="{% url 'product' %}" enctype="multipart/form-data">
                                        <fieldset>
                                            <!-- Category , Name -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <label class="form-label">Категория</label>
                                                    <select class="js-example-basic-single form-select mb-4 mb-md-0"
                                                            name="category"
                                                            data-width="100%">
                                                        <option value="TX">Texas</option>
                                                        <option value="NY">New York</option>
                                                        <option value="FL">Florida</option>
                                                        <option value="KN">Kansas</option>
                                                        <option value="HW">Hawaii</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="name" class="form-label">Наименование</label>
                                                    <input id="name" class="form-control mb-4 mb-md-0" name="name"
                                                           type="text" required>
                                                </div>
                                            </div>
                                            <!-- Measurement, quantity -->
                                            <div class="row mb-3">
                                                <div class="col-md-4">
                                                    <label class="form-label">Цена (Сум):</label>
                                                    <input class="form-control mb-4 mb-md-0" type="text"
                                                           data-inputmask="'alias': 'currency'" required/>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Измерение</label>
                                                    <input class="form-control mb-4 mb-md-0"
                                                           name="measurement" type="text" required/>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label">Количество</label>
                                                    <input class="form-control mb-4 mb-md-0" type="number"
                                                           name="quantity" required/>
                                                </div>
                                            </div>
                                            <!-- Image -->
                                            <div class="row mb-3">
                                                <div class="col-md-12 stretch-card">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h6 class="card-title">Image</h6>
                                                            <input type="file" id="myDropify" name="image"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTableExample" class="table">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Наименование</th>
                                <th class="text-center">Категория</th>
                                <th class="text-center">Измерение</th>
                                <th class="text-center">Цена (Сум)</th>
                                <th class="text-center">Количество</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td class="text-center">{{ product.name }}</td>
                                    <td class="text-center">{{ product.category }}</td>
                                    <td class="text-center">{{ product.measurement }}</td>
                                    <td class="text-center">{{ product.price }}</td>
                                    <td class="text-center">{{ product.quantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static 'assets/vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'assets/vendors/prismjs/prism.js' %}"></script>
    <script src="{% static 'assets/vendors/clipboard/clipboard.min.js' %}"></script>

    <script src="{% static 'assets/vendors/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/vendors/inputmask/jquery.inputmask.min.js' %}"></script>
    <script src="{% static 'assets/js/inputmask.js' %}"></script>
    <script src="{% static 'assets/vendors/dropify/dist/dropify.min.js' %}"></script>
    <script src="{% static 'assets/js/dropify.js' %}"></script>

    <script>
        $(function () {
            'use strict';

            $(function () {
                $('#dataTableExample').DataTable({
                    "aLengthMenu": [
                        [5, 10, 30, 50, -1],
                        [5, 10, 30, 50, "All"]
                    ],
                    "iDisplayLength": 10,
                    "language": {
                        search: "",
                    },
                    "oLanguage": {

                        "sSearch": "Поиск:",
                        "sLengthMenu": "Показать _MENU_ записи",
                        "sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
                        "oPaginate": {
                            "sFirst": "Первый", // This is the link to the first page
                            "sPrevious": "Предыдущий", // This is the link to the previous page
                            "sNext": "Следующий", // This is the link to the next page
                            "sLast": "Последний" // This is the link to the last page
                        }

                    }
                });
                $('#dataTableExample').each(function () {
                    var datatable = $(this);
                    var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                    search_input.attr('placeholder', 'Search');
                    search_input.removeClass('form-control-sm');
                    var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                    length_sel.removeClass('form-control-sm');
                });
            });

        });
    </script>
    <!-- Ajax -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function allnumericplusminus(inputtxt) {
            var numbers = /^[-+]?[0-9]+$/;
            if (inputtxt.value.match(numbers)) {
                document.form1.text1.focus();
                return true;
            } else {
                alert('Please input correct format');
                document.form1.text1.focus();
                return false;
            }
        }

        const csrftoken = getCookie('csrftoken');
        console.log(csrftoken)

        form = $('#submit')
        form.submit(function (e) {
            e.preventDefault()
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            {##}
            location.reload();
        })
    </script>
{% endblock %}
